# Miljöer
.venv/
env/
venv/
ENV/

# Python-skräp
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints

# Operativsystem
.DS_Store
Thumbs.db

# Streamlit
.streamlit/
.streamlit/secrets.toml

# Data (Valfritt: Ta bort raden under om du VILL att dina rundor ska ligga på GitHub)
*.csv